{% extends "app/layout.html" %}

{% block content %}
<!-♕ -->
<div class="jumbotron">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
        Псковская область, город Великие Луки<br />
        улица Гагарина 127А<br />
        <abbr title="Телефон">P:</abbr>
        +79992445609
    </address>

    <address>
        <strong>Поддержка:</strong>   <a href="mailto:h411e1uj4h@yandex.ru">h411e1uj4h@yandex.ru</a><br />
        <strong>Маркетинг:</strong> <a href="mailto:h411e1uj4h@yandex.ru">h411e1uj4h@yandex.ru</a>
    </address>
</div>
{% endblock %}
